.topSliderBox >.firstDetail::before{
    content: "";
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 0px 30px;
  bottom: 79px;
  left: 15px;
  box-shadow: -20px 10px 0px 1px rgb(255, 255, 255);

}
.topSliderBox >.firstDetail::after{
    content: "";
  display: block;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 30px 0;
  bottom: -100px;
  left: 15px;
  box-shadow: -16px -12px 0 0 rgb(255, 255, 255);

}
.topSliderBox >.secondDetail::after{
    content: "";
    display: block;
    width: 100px;
    height: 40px;
    position: absolute;
    border-radius: 30px 0px;
    bottom: 15px;
    left: -99px;
    box-shadow: 10px 12px 0 0 rgb(255, 255, 255);
  
}
.topSliderBox >.secondDetail::before{
    content: "";
    display: block;
    width: 50px;
    height: 100px;
    position: absolute;
    border-radius: 30px 0px;
    bottom: 67px;
    left: 148px;
    box-shadow: 17px 12px 0 0 #ffffff;
  
}
.topSliderBox >.firstDetail2::before{
    content: "";
  display: block;
  width: 60px;
  height: 100px;
  position: absolute;
  border-radius: 0px 30px;
  bottom: 44px;
  left: 10.5px;
  box-shadow: -16px 5px 0px 1px rgb(255, 255, 255);

}
.topSliderBox >.firstDetail2::after{
    content: "";
  display: block;
  width: 60px;
  height: 100px;
  position: absolute;
  border-radius: 30px 0;
  bottom: -100px;
  left: 10.5px;
  box-shadow: -16px -6px 0 0 rgb(255, 255, 255);

}
.topSliderBox >.secondDetail2::after{
    content: "";
    display: block;
    width: 100px;
    height: 23px;
    position: absolute;
    border-radius: 30px 0px;
    bottom: 10px;
    left: -97.5px;
    box-shadow: 5px 9px 0 0 rgb(248, 248, 248);
  
}
.topSliderBox >.secondDetail2::before{
    content: "";
    display: block;
    width: 50px;
    height: 100px;
    position: absolute;
    border-radius: 30px 0px;
    bottom: 39px;
    left: 27.5px;
    box-shadow: 13px 7px 0 0 rgb(255, 255, 255);
  
}
.mainBanner>.fa-homnet ::after{
    content: "";
    display: block;
    width: 80px;
    height: 70px;
    position: absolute;
    border-radius: 0px 30px;
    bottom:19.5px;
    left: -79.5px;
    box-shadow: 29px -25px 0 0 rgb(255, 255, 255); 
}
.mainBanner>.fa-homnet ::before{
    content: "";
    display: block;
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 0px 30px;
    bottom: -60px;
    left: 270px;
    box-shadow: 28px -19px 0 0 rgb(255, 255, 255); 
}

.mainBanner>.en-homnet::before{
    content: "";
    display: block;
    width: 70px;
    height: 50px;
    position: absolute;
    border-radius: 0px 30px;
    bottom: 20px;
    left: 349.5px;
    box-shadow: -28px 19px 0 0 rgb(255, 255, 255); 

}
.mainBanner>.en-homnet::after{
    content: "";
    display: block;
    width: 70px;
    height: 50px;
    position: absolute;
    border-radius: 0px 30px;
    bottom: 119px;
    left: 21px;
    box-shadow: -28px 19px 0 0 rgb(255, 255, 255); 

}
.resBanner>.faHomnet::before{

    content: "";
    display: block;
    width: 30px;
    height: 25px;
    position: absolute;
    border-radius: 0px 15px;
    bottom:17.2px;
    left:-30px;
    box-shadow: 10px -10px 0 0 rgb(255, 255, 255); 
}
.resBanner>.faHomnet::after{
    content: "";
    display: block;
    width: 40px;
    height: 30px;
    position: absolute;
    border-radius: 0px 15px;
    bottom:-30px;
    right:8px;
    box-shadow: 7px -5px 0 0 rgb(255, 255, 255); 
}
.resBanner>.enHomnet::after{
    content: "";
    display: block;
    width: 50px;
    height: 30px;
    position: absolute;
    border-radius: 0px 15px;
    bottom:4px;
    left:121.5px;
    box-shadow: -11px 11px 0 0 #ffffff; 
}
.resBanner>.enHomnet::before{
    content: "";
    display: block;
    width: 50px;
    height: 30px;
    position: absolute;
    border-radius: 0px 15px;
    bottom:47px;
    left:8px;
    box-shadow: -10px 8px 0 0 #ffffff; 
}
input[type='radio']:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: -2px;
    left: -0.5px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
 
}

input[type='radio']:checked:after {
    width: 17px;
    height: 17px;
    border-radius: 15px;
    top: -2px;
    left: -0.5px;
    position: relative;
    background-color: #fd6e54;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}