.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-148il0h-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding-right: 10px  !important
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-148il0h-MuiAutocomplete-root .MuiAutocomplete-inputRoot {
    padding-right: 10px  !important
}

.MuiAutocomplete-hasPopupIcon.css-148il0h-MuiAutocomplete-root .MuiOutlinedInput-root, .MuiAutocomplete-hasClearIcon.css-148il0h-MuiAutocomplete-root .MuiOutlinedInput-root {
    padding-right: 10px  !important
}

.MuiAutocomplete-hasPopupIcon.css-148il0h-MuiAutocomplete-root .MuiAutocomplete-inputRoot, .MuiAutocomplete-hasClearIcon.css-148il0h-MuiAutocomplete-root .MuiAutocomplete-inputRoot {
    padding-right: 10px  !important
}

.hover:hover>img{
    color: #fd6e54;
    transform: rotate(-90deg);


}

.icon{
    width: 20px;
}
.changColor:hover{
    color: #fd6e54;
    cursor: "pointer",

}