.sidBarBox{
background:#fd6e54;
width: 250px;
height: 100vh;
color: #ffff;
}
.direction{
    direction: rtl;
display: flex;

}
.stor{
  
    display: flex;
    padding: 40px;
    font-size: 30px;
    border-bottom: 2px solid #ffff
}

