

@import url('/src/style/sidebarStyle.css');
@import url('/src/style/adminMainPart.css');
@import url('/src/style/groupProduct.css');
@import url('/src/style/radioInput.css');
@import url('/src/style/bannerStyle.css');
@import url('/src/style/discountStyle.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family:"nimkat" ;
    src: url("src/assets/font/Nimkat.ttf");
}

html,body,#root{
    height: 100vh;
}
.loading{
    position: fixed;
    right:50%;
    top:50%
}

.ck-editor__editable_inline {
    min-height: 200px;
    direction: rtl;
}
.imageUpload>input[type="file"]{
    visibility:hidden;
  width:0;
  height:0
}

.horizontal-scroll-wrapper{
    position:absolute;
    display:block;   
    top:20;
    right:1000px;
    width:80px;
    max-height:800px;
    margin:0;
    overflow-y:auto;
    overflow-x:hidden;
    transform:rotate(-90deg) translateY(-80px);
    transform-origin:right top;
  }
  .horizontal-scroll-wrapper > button{
    display:block;
    padding:0px;
 
    transform:rotate(90deg);
    transform-origin: right top;
  }
  
  .squares{
    padding:60px 0 0 0;
  }
  
  .squares > button{
padding-top: 3px;
padding-bottom: 3px;
padding-left: 50px;
padding-right:50px ;
    margin-top: 120px;
   margin-bottom: 30px;
    border:solid;
    border-color: #fd6e54;
    border-radius: 30px;
    
  }
  .squares > button:focus{
    background-color: #fd6e54;
    color: white;
    outline: #fd6e54;
  }
  ::-webkit-scrollbar{width:2px;height:2px;}
  ::-webkit-scrollbar-button{width:2px;height:2px;}