

@import url('/src/style/sidebarStyle.css');
@import url('/src/style/adminMainPart.css');
@import url('/src/style/groupProduct.css');
@import url('/src/style/radioInput.css');
@import url('/src/style/bannerStyle.css');
@import url('/src/style/discountStyle.css');
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family:"nimkat" ;
    src: url("src/assets/font/Nimkat.ttf");
}

html,body,#root{
    height: 100vh;
}
.loading{
    position: fixed;
    right:50%;
    top:50%
}

.ck-editor__editable_inline {
    min-height: 200px;
    direction: rtl;
}
.imageUpload>input[type="file"]{
    visibility:hidden;
  width:0;
  height:0
}
